In [ ]:
import plotly.graph_objects as go
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
import random
import os
from wordcloud import WordCloud
from plotly.offline import init_notebook_mode, iplot
from PIL import Image
import os

In [ ]:
pwd = os.getcwd()
list1 = pwd + '\Customer List.csv'
adress1 = pwd + '\customer_adress_modified.csv'
demo1 = pwd + '\Customer_Demographic.csv'
trans1 = pwd + '\Transactions.csv'
#when you get a unicode error try to set encoding errors to :encoding_errors="ignore", encoding="ascii" this happens when theres a bunch of extra columns 
list = pd.read_csv(list1)
adress = pd.read_csv(adress1)
demo = pd.read_csv(demo1, encoding_errors="ignore", encoding="ascii")
trans = pd.read_csv(trans1)

In [ ]:
#theres alot of null columns in the 'demo' dataframe, so lets only take what we need
demo_mod = demo[demo.columns[:13]]
list_mod = list[['first_name', 'last_name', 'gender',
       'past_3_years_bike_related_purchases', 'DOB', 'job_title',
       'job_industry_category', 'wealth_segment', 'deceased_indicator',
       'owns_car', 'tenure', 'address', 'postcode', 'state', 'country',
       'property_valuation', 'Rank', 'Value']]
trans_mod = trans[trans.columns[:13]]

In [ ]:
#looking for nulls
for i in adress.columns:
    null_rate = adress[i].isna().sum() / len(adress) * 100 
if null_rate >= 0 :
    print("{} null rate: {}%".format(i,round(null_rate,2)))

In [ ]:
#looking for nulls
for i in demo_mod.columns:
    null_rate = demo_mod[i].isna().sum() / len(demo_mod) * 100 
if null_rate >= 0 :
    print("{} null rate: {}%".format(i,round(null_rate,2)))

In [ ]:
demo_mod = demo_mod.dropna(axis=0, how='any')

In [ ]:
#looking for nulls
for i in demo_mod.columns:
    null_rate = demo_mod[i].isna().sum() / len(demo_mod) * 100 
if null_rate >= 0 :
    print("{} null rate: {}%".format(i,round(null_rate,2)))

In [ ]:
#looking for nulls
for i in list_mod.columns:
    null_rate = list_mod[i].isna().sum() / len(list_mod) * 100 
if null_rate >= 0 :
    print("{} null rate: {}%".format(i,round(null_rate,2)))

In [ ]:
#looking for nulls, found em
for i in trans_mod.columns:
    null_rate = trans_mod[i].isna().sum() / len(trans_mod) * 100 
if null_rate >= 0 :
    print("{} null rate: {}%".format(i,round(null_rate,2)))

In [ ]:
trans_mod = trans_mod.dropna(axis=0, how='any')

In [ ]:
for i in trans_mod.columns:
    null_rate = trans_mod[i].isna().sum() / len(trans_mod) * 100 
if null_rate >= 0 :
    print("{} null rate: {}%".format(i,round(null_rate,2)))

In [ ]:
#changing datatype to datetime
trans_mod['transaction_date'] = trans_mod['transaction_date'].astype('datetime64')

In [ ]:
#changing 'online_order' to bool
trans_mod['online_order'] = trans_mod['online_order'].astype('bool')

In [ ]:
#formatting dtype
trans_mod['transaction_year'] = trans_mod['transaction_date'].dt.year
trans_mod['transaction_month'] = trans_mod['transaction_date'].dt.strftime('%B')
trans_mod['transaction_day'] = trans_mod['transaction_date'].dt.day

In [ ]:
#formatting dtype
list_mod['DOB'] = list_mod['DOB'].astype('datetime64')
list_mod['owns_car'] = list_mod['owns_car'].astype('bool')
list_mod.info()

In [ ]:
#formatting dtype
demo_mod['DOB'] = demo_mod['DOB'].astype('datetime64')
demo_mod['owns_car'] = demo_mod['owns_car'].astype('bool')
demo_mod.info()

grouping data

In [ ]:
trans_mod['product_id'].unique()

In [257]:
trans_mod.groupby('product_id')['count'].sum().sort_values(ascending=False).reset_index()[:20]

    product_id  count
0            0   1157
1            3    349
2            1    305
3           38    267
4           35    261
5            2    236
6            4    235
7           12    223
8            5    221
9           80    221
10          90    218
11          77    214
12          53    213
13          27    212
14          45    212
15          69    211
16          43    210
17          92    207
18          79    205
19          50    205

In [262]:
#df of most purchased items
trans_mod['count'] =1
product_id_count = trans_mod.groupby('product_id')['count'].sum().sort_values(ascending=False).reset_index()[:20]
product_id_count.rename(columns={'count':'transaction_count'})

product_id_count.to_csv(pwd +'/grouped_data/product_id_count.csv')

In [265]:
#df of months, grouped by # transaction in month
trans_mod.groupby('transaction_month')['count'].sum().sort_values(ascending=False).reset_index()[:15]
month_trans = trans_mod.groupby('transaction_month')['count'].sum().sort_values(ascending=False).reset_index()[:15]
month_trans.rename(columns={'transaction_month': 'month','count':'transaction_count'})
month_trans.to_csv(pwd +'/grouped_data/month_trans.csv')

In [268]:
#df of days, grouped by # of transactions 
trans_mod.groupby('transaction_day')['count'].sum().sort_values(ascending=False).reset_index()
trans_by_day = trans_mod.groupby('transaction_day')['count'].sum().sort_values(ascending=False).reset_index()
trans_by_day.rename(columns={'transaction_day': 'day_of_month','count':'transaction_count'})
trans_by_day.to_csv(pwd +'/grouped_data/trans_by_day.csv')

In [270]:
#df of online orders
trans_mod.groupby('online_order')['count'].sum().sort_values(ascending=False).reset_index()
online_orders = trans_mod.groupby('online_order')['count'].sum().sort_values(ascending=False).reset_index()
online_orders.to_csv(pwd +'/grouped_data/online_orders.csv')

In [273]:
#df of brands by # of transactions
trans_mod.groupby('brand')['count'].sum().sort_values(ascending=False).reset_index()
bike_brands = trans_mod.groupby('brand')['count'].sum().sort_values(ascending=False).reset_index()
bike_brands.rename(columns={'count':'transaction_count'})
bike_brands.to_csv(pwd +'/grouped_data/bike_brands.csv')

In [ ]:

list_mod.to_csv(pwd +'/list_mod.csv')
adress.to_csv(pwd + '/adress.csv')
demo_mod.to_csv(pwd + '/demo_mod.csv')
trans_mod.to_csv(pwd + '/trans_mod.csv')
product_id_count.to_csv(pwd + '/product_id_count.csv')

In [ ]:
trans_month = trans_mod['transaction_month']
trans_month.unique()

In [274]:
trans_mod['count']=1 #helper column
trans_mod.groupby('transaction_month')['count'].sum().sort_values(ascending=False).reset_index()[:15]

   transaction_month  count
0             August   1746
1            October   1699
2            January   1645
3           November   1638
4                May   1637
5               July   1632
6              March   1603
7           December   1593
8          September   1578
9           February   1565
10             April   1563
11              June   1546

In [ ]:
adress['count']=1

In [ ]:
adress

In [282]:
#Avg property valuation 
adress.property_valuation.describe().reset_index()
property_valuation = adress.property_valuation.describe().reset_index()
property_valuation.to_csv(pwd +'/grouped_data/property_valuation.csv')

In [ ]:
adress.state.replace({'Victoria': 'VIC'}, inplace=True)

In [ ]:
adress.state.unique()

In [285]:
#top state of customers
adress['count']=1 #helper column
adress.groupby('state')['count'].sum().sort_values(ascending=False).reset_index()[:15]
customer_state_count = adress.groupby('state')['count'].sum().sort_values(ascending=False).reset_index()[:15]
customer_state_count.to_csv(pwd +'/grouped_data/customer_state_count.csv')

In [ ]:
demo_mod.gender.unique()

In [290]:
demo_mod['count']=1
demo_mod.gender.replace({'F':'Female', 'M':'Male', 'Femal':'Female'}, inplace=True)
demo_mod.groupby('gender')['count'].sum().sort_values(ascending=False).reset_index()
M_F_split = demo_mod.groupby('gender')['count'].sum().sort_values(ascending=False).reset_index()
M_F_split.to_csv(pwd +'/grouped_data/M_F_split.csv')

In [291]:
demo_mod.past_3_years_bike_related_purchases.describe().reset_index()
past_3_years =

   index  past_3_years_bike_related_purchases
0  count                          1839.000000
1   mean                            49.311039
2    std                            29.025580
3    min                             0.000000
4    25%                            24.000000
5    50%                            49.000000
6    75%                            74.000000
7    max                            99.000000

In [ ]:
demo_mod

In [ ]:

demo_mod['DOB_year'] = demo_mod['DOB'].dt.year
demo_mod['DOB_month'] = demo_mod['DOB'].dt.month
demo_mod['DOB_day'] = demo_mod['DOB'].dt.day

In [ ]:
now = pd.Timestamp('now')
demo_mod['DOB'] = pd.to_datetime(demo_mod['DOB'], format='%m%d%y') 

demo_mod['DOB'] = demo_mod['DOB'].where(demo_mod['DOB'] < now, demo_mod['DOB'] -  np.timedelta64(100, 'Y'))   
demo_mod['age'] = (now - demo_mod['DOB']).astype('<m8[Y]') 

demo_mod.age.describe()

In [ ]:
#age stats
demo_mod.age.describe()
demo_mod.groupby('age')['count'].sum().sort_values(ascending=False).reset_index()

In [ ]:
#job industry split
demo_mod.groupby('job_industry_category')['count'].sum().sort_values(ascending=False).reset_index()

In [ ]:
demo_mod.groupby('owns_car')['count'].sum().sort_values(ascending=False).reset_index()